<header>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">ColdPay</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/historia">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/integrantes">Integrantes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/albumes">Albumes</a>
          </li>
      </ul>

</header>
