<app-menu></app-menu>
 <div class="container">

     <h1 class="text-center ">Barderos</h1>
     
     <div class="row my-3 ">
         
         <div class="col-6 text-center texto shadow my-3">
             <p>Tomas Manuel Campos, más conocido como “C.R.O" y Lucas Darío Giménez, más conocido como "Homer el Mero Mero", comenzaron en las plazas de Neuquén (Argentina), donde el fenómeno del Hip Hop, el Rap y géneros Urbanos habían llegado a todas las plazas de Argentina para instalarse.
                 
                 Luego de escribir sus primeras canciones juntos, grabaron su primer disco “Pure Drug" que los hizo darse a conocer y comenzaron a tocar en localidades de la Patagonia Argentina.
                 
                 Desde el mensaje directo en sus letras, como también desde el sonido auténtico y sólido, Bardero$ se ha ganado el reconocimiento de ser referentes y los máximos exponentes del sonido callejero en Argentina; así mismo, rápidamente su música se ha expandido a todos los países hispanohablantes, obteniendo éxito inmediato.
                 
                 La dupla que navega entre ritmos y sonidos innovadores, han transformado el género urbano con obras versátiles que incluyen rap, g-funk, boombap y trap.
                 
                 Cabe destacar que C.R.O y Homer el Mero Mero poseen su propia carrera musical como solistas y también forman parte de la MDB Crew.
                 
                 Seguido a su 1er disco, lanzaron en el 2019 "Chicos Del Barrio” álbum con el cual recorrieron más de 12 provincias en Argentina, y países como México, Chile y España, logrando sus primeros sold out..
                 
                 Su tercer disco "Me Sueltan los Ángeles" fue presentado en el contexto de pandemia.
                 
                 En febrero de 2022, Bardero$ lanzó su álbum titulado "Inmortales" el cual fue presentado en el emblemático Teatro Gran Rex, agotando los tickets en tan solo 2 semanas. En marzo se presentaron en México haciendo nuevamente sold out.</p>
                </div>
                
                <div class="col-6 my-3 p-1 shadow text-center">
    <img class="shadow my-3 img " src="https://firebasestorage.googleapis.com/v0/b/livtiendatcc.appspot.com/o/ArchivosMusica%2FfotoHistoiraBarderos.jpg?alt=media&token=4ecd2d15-8439-48fb-98d6-55beb7505652" alt="">
    <br><br><br>
    <audio> <source src="https://firebasestorage.googleapis.com/v0/b/livtiendatcc.appspot.com/o/ArchivosMusica%2FBardero%24%20-%20Esperanza%20(Shot%20by%20%40LuguezProd).mp3?alt=media&token=50ad0315-0644-4375-8d4b-0c77c99ee556" type="audio/ogg"></audio>
    <br><br> <br>
    <img class="shadow my-3 img " src="https://firebasestorage.googleapis.com/v0/b/livtiendatcc.appspot.com/o/ArchivosMusica%2FfotoHistoiraBarderos2.jpg?alt=media&token=78dcd0a2-be27-4ebd-ab5d-781cf9944649" alt="">
    </div>
</div>

</div>