.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/livtiendatcc.appspot.com/o/ArchivosMusica%2Fbarderos.webp?alt=media&token=d5d2b32c-9091-4cdf-bfdb-87d60595be8d');
    background-position: top center;
    background-size: cover;
    padding: 5% 30% 36% 20%;
}