<footer class="text-center text-lg-start bg-light text-muted">
 
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      
      <div class="me-5 d-none d-lg-block">
        <span></span>
      </div>
      
    </section>
    
    <section class="">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
         
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i><img src="https://firebasestorage.googleapis.com/v0/b/livtiendatcc.appspot.com/o/ArchivosMusica%2Fbarderoo.jpg?alt=media&token=24a5a394-d4e7-4920-9e74-c8a26705233a" alt="" height="180px" width="350px">
            </h6>
          </div>
         
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              CONTÁCTENOS
            </h6>
              01 8000 4565 3212
               INFORMATION
              <h5>REDES SOCIALES</h5>
              
          </div>
          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              NUESTRA COMPAÑÍA
            </h6>
            <p>
              TRAPEROS DE CORAZON
            </p>
            
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4 text-center">
                Hecho en Argentina <br><br>
                <img src="https://firebasestorage.googleapis.com/v0/b/livtiendatcc.appspot.com/o/ArchivosMusica%2FmadeArgentina.jpg?alt=media&token=dd735209-8709-4fc8-a2b6-b0d72fa58b8d" alt=""  height="120px" width="120px">
            </h6>
           
            
              



          </div>
          
        </div>
        
      </div>
    </section>
    
    <div class="text-center p-4" style="background-color:rgb(35, 33, 33); color: aliceblue;">
        Derechos de autor © 2022
    </div>
</footer>
